    

    <form onsubmit="return addMenssage()">

        <input for="staticEmail" type="Email"  name="Email" id="Email" >
        <input type="text" placeholder="Mensaje" name="Mensaje" id="msn">
        <input type="submit" value="Enviar">
    </form>

    <div id="caja"  >
        
    </div>

  