<!DOCTYPE html>
<html lang="en">
<%- include('templates/head') %>
<body class="text-center">
    <h1>Formulario</h1>
    <h2>Agregar una Fruta a la lista</h2>
    <form class="form " action="/form" method="post" >
        <div class="col ">
          <input type="text" class="form-control" placeholder="Nombre de la Fruta"  name="title">
        </div>
        <div class="col ">
          <input type="number" class="form-control" placeholder="Precio" name="price">
        </div>
        <div class="col ">
            <input type="url" class="form-control" placeholder="Url de imagen" name="thumbnail">
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
          <a class="btn btn-primary m-2" href="/" role="button">volver al Home</a>
        </form>



</body>
</html>